.chinhsachdk{
    color: #666666;
    line-height: 22px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
}
.dkkkk{
    color: #0066CC;
    line-height: 22px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}